@media only screen and (max-width: 767px) {
  .welcome_shapes {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }
}

.title h1 {
  font-size: 44px;
  line-height: 50px;
}

.about__text .title h4 {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

p.title__top {
  text-transform: none;
}

.cbtn {
  text-transform: none;
}

.footer__area {
  background: #214685;
}

.footer__seperator {
  background: rgba(255, 255, 255, 0.6);
}
.single__contact__icon {
  background: #b1b1b1;
}
.single__contact__icon i {
  color: #214685;
}
.single__footer h3 {
  color: #b1b1b1;
}

.ac-pushButton.style-default > div {
  white-space: normal !important;
}
.ac-pushButton.style-default:hover {
  background-color: #0063b1;
  color: white;
}
.ac-pushButton.style-default[disabled] {
  background-color: white !important;
  color: #0063b1 !important;
  opacity: 0.5;
}

@media only screen and (max-width: 1300px) and (min-width: 992px) {
  .welcome_shapes {
    position: absolute;
    right: -2%;
    height: 500px;
    width: 500px;
    bottom: 10%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .welcome_shapes {
    position: absolute;
    right: 0;
    height: 400px;
    width: 400px;
    bottom: 30%;
  }
}

@media only screen and (min-width: 1300px) {
  .welcome_shapes {
    width: 600px;
    max-width: 100vw;
  }
}

.cta_wrap {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.stellarnav li a {
  text-transform: none;
}
